html, body {
  margin: 0;
  padding: 0;
	font-family: sans-serif, serif;
}

canvas {
  display: block;
}

#allSpeeds { 
  list-style-type: none;
  column-count: 20;
  column-width: 90px;
  width: fit-content;
  line-height: 100%;
}
.text {
  font-family: sans-serif, serif;
  line-height: 50%;
  margin-left: 2%;
}

.header { 
  padding: 0;
  font-size: 120%;
  margin-top: 3%;
}

#titel {
	font-family: sans-serif, serif;
}

#flexContainer {
  display: flex;
  flex-wrap: nowrap;
}

#link {
  margin-right: 2%;
  margin-bottom: 5%;
  color: #0000aa;
}

#StoppedCars {
  margin: 0 0 0 0;
}

