html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#titel {
	font-family: sans-serif, serif;
}

.header {
  padding-left: 20px;
  padding: 0;
  margin: 20px 20px 20px 20px;
}
  #info {
    margin: 20px 20px 0 20px;
  }

#flexContainer {
  display: flex;
  flex-wrap: nowrap;
}

#StoppedCars {
  padding-left: 20px;
  margin: 0 0 0 0;
}

#allSpeeds {
  margin: -20px 20px 0 -20px;
  list-style-type: none;
  column-count: 20;
  column-width: 90px;
  width: fit-content;
}
.text {
  font-family: sans-serif, serif;
  line-height: 50%;
  margin-left: 1%;
}